@import "../globals/_variables"; // Customization for Bootstrap
@import "../globals/_mixin";


body.page-template-page-home{
    .row-project_categories-wrapper{
        padding-top: 8em;
        padding-bottom: 8em;
        .before{
            text-align: center;
            margin-bottom: 4em;
            .before-title{
                color: #EA1D7B;
                font-size: 200%;
            }
            .before-desc{
                font-size: 90%;
            }
        }
        .item-tax-project_categories{
            @include loop-item-tax-project-categories-classes;
        }
    }
    .row-post-wrapper{
        padding-bottom: 8em;
        .before{
            text-align: center;
            margin-bottom: 4em;
            .before-title{
                color: #EA1D7B;
                font-size: 200%;
            }
            .before-desc{
                font-size: 90%;
            }
        }
        .item-post{
            @include loop-item-post-classes;
        }
        .after{
            .btn{
                background-color: #EA1D7B;
                padding: 0.6em 2em;
                text-transform: uppercase;
                transition: all 0.2s ease-in-out;
                &hover{
                    background: lighten(#EA1D7B, 10%);
                }
            }
        }
    }
    .repeatable-elements{
        position: relative;
        &:after{
            content: ' ';
            display: block;
            position: absolute;
            width: 100%;
            height: 50%;
            bottom: 0;
            left: 0;
            z-index: -1;
            background: lighten($color2, 10%);
        }
        a{
            position: relative;
            &:before{
                content: ' ';
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: 2;
                background: rgba(#fff, 70%);
                transition: all 0.5s ease-in-out;
            }
            &:hover{
                &:before{
                    background: rgba(#fff, 50%);
                }
            }
        }
        .overlay{
            display: block;
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
            z-index: 2;
            padding: 1em 2em;
            .title{
                font-weight: 400;
                font-size: 2em;
            }
        }
    }
    .footer{
        margin-top: 0;
    }
}

@media only screen and (max-width: 767px) { 
    .row-post-wrapper{
        .item-post{
            @include loop-item-post-classes-mobile;
        }
    }
}
