@import "../globals/variables";

body.blog{
    .item-post{
        border-radius: 2em;
        margin-bottom: 1.5em;
        overflow: hidden;
        border-top: 10px solid $color-five;
        
        .img-wrapper{
            picture,
            picture > source,
            img{
                display: block;
                width: 100%;
                height: 100%;
                max-width: 100%;
            }
        }
        .content{
            padding-top: 2em;
            padding-bottom: 2em;
        }
        .btn-wrapper{
            text-align: right;
            padding-top: 1em;
        }
    }
}