@import "_variables";

body{
    overflow-x: hidden;
}

a{
    color: $color1;
    &:hover,
    &:active{
        color: darken($color1, 10%);
        text-decoration: none;
    }
}
/*
label{
    font-size: 0.8em;
    text-transform: uppercase;
}

.mand{
    color: #ff0000;
    font-weight: 800;
}

h2, h3, h4, h5, h6{
    font-weight: 600;
    color: $color-two;
    &:before{
        content: ' ';
        display: inline-block;
        width: 20px;
        height: 20px;
        background: $orange;
    }
}
*/

input[type=text],
input[type=password],
input[type=email],
input[type=tel],
input[type=number],
input[type=date],
select,
textarea{
    display: block;
    width: 100%;
    padding: 0.75em;
    border: none;
}

select{
    padding: 1.25em;
}

input[type=button],
input[type=submit]{
    padding: 0.5em 2em;
    border-radius: 2em;
    float: right;
}