header{
    background: url('build/img/header-border-top.png') #fff repeat-x top left;
    padding: 3em 0 0 0;
    &> .container{
        padding-bottom: 2em;
    }
    .header-logo {
        display: inline-block;
        width: auto;
        padding: 0;
        img{
            max-width: 115px;
            width: 100%;
            transition: all 0.2s ease-in-out;
        }
    }
    .icon-whatsapp{
        color: #25d366;
        font-size: 1.5em;
    }
    #fullsize-menu-toggler{
        cursor: pointer;
        span{
            text-transform: uppercase;
            letter-spacing: 0.4em;
            font-size: 0.7em;
            display: inline-block;
            margin-right: 1em;
        }
    }
    .right{
        text-align: right;
    }
    .extra-navbar{
        text-align: right;
        .icon-header{
            display: inline-block;
            margin: 0 0.15em;
            ion-icon{
                font-size: 20px;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    header{
        .header-logo{
            margin: 0 auto;
            display: block;
            img{
                max-width: 150px;
                margin-bottom: 1em;
            }
        }
        .right{
            text-align: center;
            border-top: 1px solid lighten($color1, 10%);
        }
        .icon-whatsapp{
            font-size: 2.1em;
            display: inline-block;
            transform: translate(-6px, 7px);
        }
    }
}