@mixin hover-after-bar {
    position: relative;
    overflow: hidden;
    display: inline-block;

    &:after{
        content: ' ';
        display: block;
        width: 100%;
        height: 2px;
        background-color: $orange;
        position: absolute;
        bottom: -10px;
        left: 0;
        transition: all 0.5s ease-in-out;
    }
    &:hover:after{
        bottom: 0px;
    }
}

@mixin loop-item-post-classes {
    background: #fff;
    box-shadow: 0px 0px 21px rgba(#F084AE, 0.15);
    margin: 2em 0;
    .content{
        h2{
            color: #7D277A;
        }
        .date{
            display: none;
            // font-style: italic;
            // font-weight: normal;
            // font-size: 13px !important;
            // line-height: 17px;
            // text-align: center;
            // letter-spacing: 0.05em;
            // text-transform: uppercase;
            // font-size: 0.9em;
            // &:after{
            //     content: ' ';
            //     display: block;
            //     min-height: 20px;
            //     background: url('../../../build/img/drop.png') no-repeat center center;
            //     margin-bottom: 1.5em;
            // }
        }
        .excerpt{
            // white-space: nowrap;
            // overflow: hidden;
            // text-overflow: ellipsis;
            // height: 45px;
            margin: 2em 0;
        }
        .btn-wrapper{
            text-decoration: none;
            // position: relative;
            // margin-top: 2em;
            a{
                text-decoration: none;
                text-align: center;
                text-transform: uppercase;
                color: #fff;
                background-color: #7D277A;
                transition: all 0.2s ease-in-out;
                padding: 0.6em 2em;
                &hover{
                    background: lighten(#7D277A, 10%);
                }
            }
        }
    }
}

@mixin loop-item-post-classes-mobile {
    .content{
        h2{
            font-size: 1.3em;
        }
        .excerpt{
            margin: 0.5em 0 !important;
           font-size: .9em;
        }
        .btn-wrapper{
            a{
                padding: 0.2em 1em !important;
            }
        }
    }
}

@mixin loop-item-product-classes {
    .product-img-wrapper{
        margin-right: 2em;
        img{
            width: 100%;
        }
    }
    .product-title{
        font-weight: 800;
        font-size: 1.4em;
    }
    .product-attribute-wrapper{
        // border-right: 1px solid $blue;
        .product-attribute{
            margin: 0 0 0.5em 0;
            padding: 0;
        }
    }
    .detail-link,
    .install-link,
    .video-link{
        display: block;
        text-transform: uppercase;
        letter-spacing: 0.01em;
        font-size: 0.8em;
        font-weight: 800;
        margin-top: 1em;
        margin-bottom: 1.5em;
        margin-left: 4em;
        padding-right: 3em;
        &:hover,
        &:active{
            text-decoration: none;
        }
    }
    .detail-link,
    .install-link{
        span{
            display: inline-block;
            padding-right: 3em;
            background: url('../../../build/img/download-icon.png') no-repeat right center;
        }
    }
    .video-link{
        span{
            display: inline-block;
            padding-right: 3em;
            background: url('../../../build/img/angle-right-icon.png') no-repeat right center;
        }
    }
}

@mixin loop-item-staff-classes {
    .avatar{
        max-height: 210px;
        overflow: hidden;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
    }
    .content{
        background: #f0f0f0;
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 1em;
        padding-bottom: 0.5em;
        margin-bottom: 1em;
    }
    h2{
        font-size: 1em;
        text-align: center;
        font-weight: 800;
        margin: 0;
        padding: 1em 0 0 0;
        &:before{
            display: none;
        }
    }
    .text{
        line-height: 1.6em;
        font-size: 0.7em;
        text-align: center;
        margin-top: .5em;
    }
}

@mixin loop-item-service-classes{
    margin-top: 2em;
    // border-right:1px solid black;
    text-align: center;
    text-transform: uppercase;
    // box-shadow: 0 0 20px #2c306573;
    // padding: 40px 20px ;
    // background: #fff;
    // &:last-child{ border-right: none; }
    .img-wrapper{ margin: 0; }
    a{
        // color: $blue;
        text-decoration: none;
    }
    h2{
        text-transform: uppercase;
        font-size: 1.2em;
        font-weight: 800;
        margin-top: 1em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        // color: $light-blue;
        &:before{
            display: none;
        }
    }
    .btn-wrapper{
        padding-top: 1em;
        display: none;
        a{
            font-size: 1em;
            padding: 0;
            width: 40px;
            height: 40px;
            line-height: 40px;
            color: #fff;
            h2{
                color: #fff;
            }
        }
    }
}

@mixin loop-item-tax-project-categories-classes{
    text-align: center;
    box-shadow: 0 0 10px rgba(#3CBBEE, 15%);
    margin-bottom: 1em;
    .content-wrapper{
        padding: 2em 1em;
        .title{
            font-weight: 400;
            text-transform: uppercase;
            margin: 0;
        }
        .description{
            font-size: 95%;
            margin: 2em 0;
        }
        .btn{
            font-weight: 400;
            text-transform: uppercase;
        }
    }
}

@mixin contact-form-7{
    // Contact Form 7
    .wpcf7{
        border: 1px solid $color1;
        padding: 2em;
        margin-bottom: 2em;
        label{ display: block; }
        input[type=text],
        input[type=email],
        textarea{
            background: lighten($color2, 10%);
        }
        .one-half{
            width: 48%;
            margin-right: 4%;
            float: left;
        }
        .one-third{
            width: 30%;
            margin-right: calc(10%/2);
            float: left;
        }
        .one-fourth{
            width: 24%;
            margin-right: calc(4%/3);
            float: left;
        }
        .offset-one-half{ margin-left: calc(100%/2); }
        .offset-one-third{ margin-left: calc(100%/3); }
        .offset-one-fourth{ margin-left: calc(100%/4); }
        .last{
            margin-right: 0;
        }
    }
}