@import "_variables";

.navbar{
    .nav-link{
        padding-right: 1em;
        padding-left: 1em;
    }
    a, a:link, a:visited{
        color: $text-color;
        display: inline-block;
        text-transform: uppercase;
        font-size: 0.9em;
        font-weight: 800;
        letter-spacing: 0.1em;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
    .navbar-toggler{
        // border: 1px solid $color-five;
        .fa-bars{
            color: $color-one;
            font-size: 1.35em;
        }
    }
    .navbar-brand{
        display: none;
        text-transform: uppercase;
        font-size: 1em;
        font-weight: 800;
        margin-left: 1.3em;
    }
    .navbar-nav{
        .dropdown-menu{
            border: 0;
            background-color: $color-five;
        }
    }
}

@media only screen and (max-width: 767px) { 
    .navbar-wrapper{
        border-top: 1px solid $color-five;
        .navbar{
            padding: .5rem 1rem 0 1rem;
        }
        .navbar-brand{
            display: inline-block;
        }
    }
}