.nav-wrapper-full{
    // background: $light-blue;
    margin-top: 3em;
    .navbar{
        margin: 0;
        padding: 0;
        .navbar-brand{ opacity: 0; }
        a, a:link, a:visited{
            display: inline-block;
            font-size: 0.9em;
            font-weight: 400;
            padding-right: 1rem !important;
            padding-left: 1rem !important;
            color: $white;
            text-transform: uppercase;
            transition: all 0.2s ease-in-out;
            margin: 0.55em;
        }
        li.show,
        li:hover,
        li:active{
            // background: lighten($light-blue, 10%);
        }
        li.highlighted{
            a.nav-link{
                border: 2px solid $orange;
            }
        }
        .dropdown-menu{
            // background: $light-blue;
            color: $white;
            border-radius: 0px;
            box-shadow: none;
            li{
                padding: 0;
                margin: 0;
                .dropdown-item{
                    &:active,
                    &:hover{
                        background: transparent;
                    }
                }
            }
        }
    }
}
