// Fonts
// @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Quicksand:wght@300;400;700&display=swap');
$font-family-sans-serif: 'Poppins', sans-serif !default;
$font-family-serif: 'Quicksand', serif !default;

// Grids
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1300px
) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1240px
) !default;

// Website Color
$color1: #3e2e83;
$color2: #76b677;

// Colors
// $blue:    #564f71 !default;
// $light-blue:   #e9e6ef !default;

// Body
$body-color: #3e2e83 !default;
// $orange: #bb1d23 !default;