// Fonts
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
$font-family-sans-serif: 'Quicksand', sans-serif !default;
$font-family-serif: 'Playfair Display SC', serif !default;

// Grids
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1300px
) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1240px
) !default;

// Website Color
$color1: #f9c782;
$color2: #0d0d0d;

// Body
$body-color: #111 !default;

// Social Colors
$facebook-color: #3b5998;
$instagram-color: #cd00d1;
$linkedin-color: #0e76a8;
$twitter-color: #1da1f2;
$youtube-color: #ff0000;