@mixin contact-form-7 {
    a{
        text-decoration: underline;
        color: $color2;
        transition: all .5s ease-in-out;
        &:hover{
            color: $color1;
        }
    }
    label{
        display: block;
        font-size: 0.7em;
        text-transform: uppercase;
        text-align: left;
        margin-bottom: 1em;
    }
    input[type=text],
    input[type=email],
    input[type=number],
    textarea{
        font-size: 1.5em;
        text-transform: normal;
        display: block;
        background: rgba(#fff, .2);
        border-radius: 0.25em;
        outline: none;
        transition: all .5s ease-in-out;
        &:focus{
            background: rgba(#fff, .5);
            outline: none;
        }
    }
    input[type=submit],
    button{
        background-color: $color2;
        border-radius: 0.25em;
        color: $color1;
        float: right;
        opacity: 1;
        transition: all .5s ease-in-out;
        &:disabled{
            opacity: 0.8;
        }
    }
    .wpcf7-not-valid-tip{
        background: #eb4034;
        color: #000;
        padding: 0.15em;
        margin-top: 0.25em;
        display: inline-block;
    }
    .wpcf7 form.sent .wpcf7-response-output{
        background-color: #46b450;
    }

    .button-wrapper{
        text-align: right;
        position: relative;
    }
}